.idea/
*.iml

backend/bin/
backend/target/
backend/**/*.iml
backend/src/main/resources/*.properties
!backend/src/main/resources/application-example.properties
backend/src/test/resources/*.properties
!backend/src/test/resources/application-test-example.properties

frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/build/
frontend/.gradle
frontend/local.properties
frontend/**/*.iml
